<div class="modal-header bg-success text-white">
  <h4 class="modal-title" id="modal-basic-title">Add New Meme</h4>
  <button type="button" class="close" (click)="dismissModal()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
          <label for="Title">Title</label>
          <input type="text" class="form-control" placeholder="Enter Title" required>
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <input type="text" class="form-control" placeholder="Enter Description" required>
        </div>
        <div class="form-group">
          <label for="Meme">Meme</label>
          <input type="text" class="form-control" placeholder="Enter Description" required>
        </div>
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </form>
</div>
