#headerContainer{
    margin: 0;
    padding-top: 1%;
    padding-bottom: .5%;
    box-sizing: border-box;
}
.login-card{
    padding-top: 5%;
    padding-left: 0;
    padding-right: 5%;
}
.error-color{
    color: red;
}