<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <a routerLink="/meme" class="navbar-brand" id="brand">Meme Boyz</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a routerLink="/meme" class="nav-link">
            <fa-icon [icon]="faArchive"></fa-icon> Memes
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="checkLogin()" class="nav-item mr-3" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle>
            <fa-icon [icon]="faUser"></fa-icon> Welcome Boy
          </a>
          <div ngbDropdownMenu>
            <a (click)="onProfile()" class="dropdown-item">
              <fa-icon [icon]="faUserCircle"></fa-icon> Profile
            </a>
            <a (click)="onInvite()" class="dropdown-item">
              <fa-icon [icon]="faUserPlus"></fa-icon> Invite
            </a>
          </div>
        </li>
        <li *ngIf="!checkLogin()" class="nav-item">
          <a routerLink="/login" class="nav-link">
            <fa-icon [icon]="faSignInAlt"></fa-icon> Login
          </a>
        </li>
        <li *ngIf="checkLogin()" class="nav-item">
          <a (click)="onLogout()" class="nav-link">
            <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
          </a>
        </li>
      </ul>
    </div>   
</nav>